## Pandas
- open-source Python library designed for data manipulation and analysis
### Data Structures
- Series: 1d labeled array (col)
- DataFrame: 2d labeled (full spreadsheet or SQL table)

In [1]:
import pandas as pd

## DataFrame
- two dim, tabular with labeled rows and cols

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Country': ['USA', 'Canada', 'UK']
}

df = pd.DataFrame(data)
print(df)

      Name  Age Country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   35      UK

## Loading a DataFrame
- df = pd.DataFrame(data_dict)      # dict
- df = pd.read_csv('data.csv')      # CSV
- df = pd.read_exel('data.xlsx')    # Excel

In [3]:
df = pd.read_csv("orders.csv")
print(df)

    OrderID      CustomerName                Product     Category  Quantity  \
0      1001        John Smith                 Laptop  Electronics         1
1      1002         Sarah Lee             Headphones  Electronics         2
2      1003          Ali Khan           Office Chair    Furniture         1
3      1004        Alice Wong              Desk Lamp    Furniture         3
4      1005     Carlos Mendez               Keyboard  Electronics         2
5      1006      Nora Ibrahim               Notebook   Stationery         5
6      1007       Emily Davis          Standing Desk    Furniture         1
7      1008        James Park                Monitor  Electronics         2
8      1009       Maria Rossi                    Pen   Stationery        10
9      1010  Takeshi Nakamura                  Mouse  Electronics         1
10     1011     Sophie Martin                 Webcam  Electronics         1
11     1012         Raj Patel           File Cabinet    Furniture         2
12     1013       Emma Wilson                Stapler   Stationery         3
13     1014   Diego Rodriguez              USB Drive  Electronics         5
14     1015         Lisa Chen              Bookshelf    Furniture         1
15     1016      Ahmed Hassan          Printer Paper   Stationery        20
16     1017     Anna Kowalski         Wireless Mouse  Electronics         2
17     1018     Michael Brown         Desk Organizer    Furniture         1
18     1019       Yuki Tanaka             Calculator  Electronics         1
19     1020   Fatima Al-Zahra             Whiteboard    Furniture         1
20     1021    David Thompson           Highlighters   Stationery         8
21     1022    Isabella Silva      Bluetooth Speaker  Electronics         1
22     1023    Oliver Schmidt           Office Plant    Furniture         2
23     1024        Zara Ahmed           Sticky Notes   Stationery        15
24     1025    Lucas Anderson           Tablet Stand  Electronics         1
25     1026      Chloe Dubois         Paper Shredder  Electronics         1
26     1027     Miguel Torres         Desk Chair Mat    Furniture         1
27     1028       Nina Petrov           Binder Clips   Stationery        12
28     1029      Seo-yeon Kim      Wireless Keyboard  Electronics         1
29     1030   Giuseppe Romano          Desk Calendar    Furniture         1
30     1031      Amira Hassan                USB Hub  Electronics         1
31     1032     Thomas Müller       Document Scanner  Electronics         1
32     1033   Sofia Rodriguez  Desk Drawer Organizer    Furniture         1
33     1034      Alex Johnson            Index Cards   Stationery       100
34     1035     Yuki Yamamoto          Monitor Stand  Electronics         1
35     1036     Emma Thompson     Desk Lamp with USB    Furniture         1
36     1037     Carlos Santos       Wireless Earbuds  Electronics         1
37     1038    Leila Mansouri               Desk Pad    Furniture         1
38     1039        Daniel Kim            Power Strip  Electronics         2
39     1040      Anna Ivanova             Desk Clock    Furniture         1

     Price   OrderDate Shipped       Country
0   1200.0  2024-06-01     Yes           USA
1    150.0  2024-06-03      No        Canada
2    300.0  2024-06-04     Yes           UAE
3     45.0  2024-06-05     Yes     Singapore
4     80.0  2024-06-06      No        Mexico
5      5.0  2024-06-07     Yes           UAE
6    450.0  2024-06-08     Yes            UK
7    220.0  2024-06-09      No   South Korea
8      1.5  2024-06-10     Yes         Italy
9     35.0  2024-06-11     Yes         Japan
10    85.0  2024-06-12     Yes        France
11   180.0  2024-06-13      No         India
12    12.0  2024-06-14     Yes     Australia
13    25.0  2024-06-15     Yes         Spain
14   280.0  2024-06-16      No         China
15     8.0  2024-06-17     Yes         Egypt
16    45.0  2024-06-18     Yes        Poland
17    65.0  2024-06-19      No           USA
18    15.0  2024-06-20     Yes         Japan
19   120.0  2024-06-21     Yes  Saudi Arabia
20     3.5  2024-06-22      No        Canada
21    95.0  2024-06-23     Yes        Brazil
22    35.0  2024-06-24     Yes       Germany
23     4.0  2024-06-25      No      Pakistan
24    28.0  2024-06-26     Yes        Sweden
25    75.0  2024-06-27     Yes        France
26    22.0  2024-06-28      No     Argentina
27     2.5  2024-06-29     Yes        Russia
28   110.0  2024-06-30     Yes   South Korea
29    18.0  2024-07-01      No         Italy
30    32.0  2024-07-02     Yes       Morocco
31   140.0  2024-07-03     Yes       Germany
32    42.0  2024-07-04      No      Colombia
33     0.8  2024-07-05     Yes           USA
34    55.0  2024-07-06     Yes         Japan
35    68.0  2024-07-07      No            UK
36   125.0  2024-07-08     Yes      Portugal
37    28.0  2024-07-09     Yes          Iran
38    18.0  2024-07-10      No   South Korea
39    35.0  2024-07-11     Yes       Ukraine

## Exploring a DataFrame
- df.head() - first 5 rows
- df.tail() - last 5 rows
- df.info() - col types and non-null value
- df.describe() - summary stats (count, mean, std, etc.)
- df.columns - col names
- df.index - row indices

In [4]:
print(df.head())
print(df.tail())

   OrderID   CustomerName       Product     Category  Quantity   Price  \
0     1001     John Smith        Laptop  Electronics         1  1200.0
1     1002      Sarah Lee    Headphones  Electronics         2   150.0
2     1003       Ali Khan  Office Chair    Furniture         1   300.0
3     1004     Alice Wong     Desk Lamp    Furniture         3    45.0
4     1005  Carlos Mendez      Keyboard  Electronics         2    80.0

    OrderDate Shipped    Country
0  2024-06-01     Yes        USA
1  2024-06-03      No     Canada
2  2024-06-04     Yes        UAE
3  2024-06-05     Yes  Singapore
4  2024-06-06      No     Mexico
    OrderID    CustomerName             Product     Category  Quantity  Price  \
35     1036   Emma Thompson  Desk Lamp with USB    Furniture         1   68.0
36     1037   Carlos Santos    Wireless Earbuds  Electronics         1  125.0
37     1038  Leila Mansouri            Desk Pad    Furniture         1   28.0
38     1039      Daniel Kim         Power Strip  Electronics         2   18.0
39     1040    Anna Ivanova          Desk Clock    Furniture         1   35.0

     OrderDate Shipped      Country
35  2024-07-07      No           UK
36  2024-07-08     Yes     Portugal
37  2024-07-09     Yes         Iran
38  2024-07-10      No  South Korea
39  2024-07-11     Yes      Ukraine

In [5]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       40 non-null     int64
 1   CustomerName  40 non-null     object
 2   Product       40 non-null     object
 3   Category      40 non-null     object
 4   Quantity      40 non-null     int64
 5   Price         40 non-null     float64
 6   OrderDate     40 non-null     object
 7   Shipped       40 non-null     object
 8   Country       40 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.9+ KB
None
           OrderID    Quantity        Price
count    40.000000   40.000000    40.000000
mean   1020.500000    5.450000   106.457500
std      11.690452   15.903475   201.091854
min    1001.000000    1.000000     0.800000
25%    1010.750000    1.000000    18.000000
50%    1020.500000    1.000000    43.500000
75%    1030.250000    2.250000   112.500000
max    1040.000000  100.000000  1200.000000

In [6]:
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=40, step=1)
Index(['OrderID', 'CustomerName', 'Product', 'Category', 'Quantity', 'Price',
       'OrderDate', 'Shipped', 'Country'],
      dtype='object')

## Accessing & Filtering Data
- basic access
- conditional filtering (boolean masks)
- advanced filtering

### Basic access
- df['Age'] - single col
- df[['Name', 'Age']] - multiple cols
- df.iloc[0] - first row by pos
- df.loc[0] - first row by label (default is index in csv)

In [18]:
# single col
print(df["OrderID"][:5])                # get first 5 rows
# multiple cols
print(df[["Category", "Price"]][:5])    # get first 5 rows

# can use python functions while accessing
print(len(df["Country"]))
print(set(df["Price"]))

0    1001
1    1002
2    1003
3    1004
4    1005
Name: OrderID, dtype: int64
      Category   Price
0  Electronics  1200.0
1  Electronics   150.0
2    Furniture   300.0
3    Furniture    45.0
4  Electronics    80.0
40
{0.8, 1.5, 2.5, 3.5, 4.0, 5.0, 8.0, 12.0, 140.0, 15.0, 18.0, 150.0, 22.0, 280.0, 25.0, 28.0, 32.0, 35.0, 42.0, 300.0, 45.0, 1200.0, 180.0, 55.0, 65.0, 450.0, 68.0, 75.0, 80.0, 85.0, 220.0, 95.0, 110.0, 120.0, 125.0}

In [21]:
first_row = df.iloc[0]
print(first_row)
first_row2 = df.loc[0]
print(first_row2)

# Equality
print(first_row == first_row2)          # checks every row or col
print(first_row.equals(first_row2))     # checks whole table

OrderID                1001
CustomerName     John Smith
Product              Laptop
Category        Electronics
Quantity                  1
Price                1200.0
OrderDate        2024-06-01
Shipped                 Yes
Country                 USA
Name: 0, dtype: object
OrderID                1001
CustomerName     John Smith
Product              Laptop
Category        Electronics
Quantity                  1
Price                1200.0
OrderDate        2024-06-01
Shipped                 Yes
Country                 USA
Name: 0, dtype: object
OrderID         True
CustomerName    True
Product         True
Category        True
Quantity        True
Price           True
OrderDate       True
Shipped         True
Country         True
Name: 0, dtype: bool
True

In [8]:
df[["Country", "Product"]].head()

     Country       Product
0        USA        Laptop
1     Canada    Headphones
2        UAE  Office Chair
3  Singapore     Desk Lamp
4     Mexico      Keyboard

In [9]:
print(df.iloc[0])
print(list(df.iloc[10]))
print(df.iloc[4]["Price"])

OrderID                1001
CustomerName     John Smith
Product              Laptop
Category        Electronics
Quantity                  1
Price                1200.0
OrderDate        2024-06-01
Shipped                 Yes
Country                 USA
Name: 0, dtype: object
[np.int64(1011), 'Sophie Martin', 'Webcam', 'Electronics', np.int64(1), np.float64(85.0), '2024-06-12', 'Yes', 'France']
80.0

In [12]:

# empty table - there are no products named "electronics"
print(df[df["Product"] == "Electronics"])

# print rows where category is "electronics"
electronics_rows = df[df["Category"] == "Electronics"]
print(electronics_rows)

Empty DataFrame
Columns: [OrderID, CustomerName, Product, Category, Quantity, Price, OrderDate, Shipped, Country]
Index: []
    OrderID      CustomerName            Product     Category  Quantity  \
0      1001        John Smith             Laptop  Electronics         1
1      1002         Sarah Lee         Headphones  Electronics         2
4      1005     Carlos Mendez           Keyboard  Electronics         2
7      1008        James Park            Monitor  Electronics         2
9      1010  Takeshi Nakamura              Mouse  Electronics         1
10     1011     Sophie Martin             Webcam  Electronics         1
13     1014   Diego Rodriguez          USB Drive  Electronics         5
16     1017     Anna Kowalski     Wireless Mouse  Electronics         2
18     1019       Yuki Tanaka         Calculator  Electronics         1
21     1022    Isabella Silva  Bluetooth Speaker  Electronics         1
24     1025    Lucas Anderson       Tablet Stand  Electronics         1
25     1026      Chloe Dubois     Paper Shredder  Electronics         1
28     1029      Seo-yeon Kim  Wireless Keyboard  Electronics         1
30     1031      Amira Hassan            USB Hub  Electronics         1
31     1032     Thomas Müller   Document Scanner  Electronics         1
34     1035     Yuki Yamamoto      Monitor Stand  Electronics         1
36     1037     Carlos Santos   Wireless Earbuds  Electronics         1
38     1039        Daniel Kim        Power Strip  Electronics         2

     Price   OrderDate Shipped      Country
0   1200.0  2024-06-01     Yes          USA
1    150.0  2024-06-03      No       Canada
4     80.0  2024-06-06      No       Mexico
7    220.0  2024-06-09      No  South Korea
9     35.0  2024-06-11     Yes        Japan
10    85.0  2024-06-12     Yes       France
13    25.0  2024-06-15     Yes        Spain
16    45.0  2024-06-18     Yes       Poland
18    15.0  2024-06-20     Yes        Japan
21    95.0  2024-06-23     Yes       Brazil
24    28.0  2024-06-26     Yes       Sweden
25    75.0  2024-06-27     Yes       France
28   110.0  2024-06-30     Yes  South Korea
30    32.0  2024-07-02     Yes      Morocco
31   140.0  2024-07-03     Yes      Germany
34    55.0  2024-07-06     Yes        Japan
36   125.0  2024-07-08     Yes     Portugal
38    18.0  2024-07-10      No  South Korea